<nav class="navbar navbar-expand-sm navbar-da" style="background-color:black">
    <div class="container-fluid">    
       
    <ul class = "nav navbar-nav">
        
        <li class = "nav-item">
            <a routerLink="/addCategory" routerLinkActive="active" class="nav-link" ><p style="color:antiquewhite">Add Category</p></a>
        </li>
        <!-- <li class = "nav-item">
            <a routerLink="/addProduct" routerLinkActive="active" class="nav-link" ><p style="color:antiquewhite">Add Product</p></a>
        </li> -->
        <li class = "nav-item">
            <a routerLink="/viewUsers" routerLinkActive="active" class="nav-link" ><p style="color:antiquewhite">View User</p></a>
        </li>  
        <!-- <li class = "nav-item"> -->
            <!-- <a routerLink="/updateAdmin" routerLinkActive="active" class="nav-link" ><p style="color:antiquewhite">Update Admin</p></a> -->
        <!-- </li> -->
        <li class = "nav-item">
            <a routerLink="/viewCategory" routerLinkActive="active" class="nav-link" ><p style="color:antiquewhite">View Category</p></a>
        </li> 
        <li class = "nav-item">
            <a routerLink="/allProducts" routerLinkActive="active" class="nav-link" ><p style="color:antiquewhite">View products</p></a>
        </li> 
    </ul>
    <button (click)="logOut()"class="btn btn-danger navbar-btn" style="cursor: pointer;">Log out</button>
    </div>
</nav>

