
<!-- <h1 style="text-align: center;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Welcome to Store</h1> -->
<div class="header">
  <h1 style="text-align: center;font-family: 'Franklin Gothic Medium';">Welcome to Store</h1>
  </div >
    <!-- <nav class="nav" style="background-color:black">     -->
      <ul>
      <li><button id="home"(click)="login()"><span> Login</span></button></li>
      <li><button id="home"(click)="userSignUp()"><span>SignUp</span></button></li>
      <li><button id="home"(click)="aboutUs()"><span>About Store</span></button></li>
      </ul>
        
            <!-- <button id="home"(click)="login()"> Login</button>
            <br>
            <button id="home"(click)="userSignUp()">SignUp</button>
            <br>
            <button id="home"(click)="aboutUs()">About Store</button> -->
        
    <!-- </nav>  -->
    <div class="header1">
      <div class="img">
        <img src="../assets/images/online shopping.jpg" alt="shopping img">
      </div>
    </div>
  

   