<nav class="navbar navbar-expand-sm navbar-da" style="background-color:black">
    <div class="container-fluid">    
       
    <ul class = "nav navbar-nav">
        
        
        
        <button onclick="history.back()"class="btn btn-primary navbar-btn">Go Back</button>      
        
    </ul>

    </div>
</nav>
<div class="about-section">
    <h1>About Us </h1>
    <p>E-commerce stores typically offer a user-friendly shopping experience with easy navigation, 
        detailed product information, customer reviews, and secure payment options. 
    </p>
    <p>we are providing one of the experiences of buying what you like with affordable prices and comfortable
        user intereatcive methods.
    </p>
    <p>The products are with in the affordable prices and quality and baranded products </p>
    <p>We are always try to easy payment and retail option</p>
  </div>
  
  
    


